*.log
*.zip
*.xml
*.pdf
*.tar.*
/vendor
*/vendor
/public/app/sped-mdfe-master/vendor
.env
/node_modules
/public/hot
/public/uploads/
/vendor-bin
__MACOSX
.well-known
/v8-compile-cache-0
error_log
.DS_Store
.php_cs
.prettierrc
.user.ini
php.ini
.shift
kite-installer
sh.exe.stackdump
/public/mix-manifest.json
/etc/
/fcgi-bin/
/homes/
/logs/
/public_html/
/tmp/
/cgi-bin/
/chamados/
/database/dumps
ssl.*
/c75b1163680b75364d339d3f9d607230/
/rotina-backup/
.awstats-htpasswd
.stats-htpasswd
awstats/
/uploads
/composer.lock
/storage/*
!/storage/app/
/storage/framework/
!/storage/logs/
!/storage/app/.empty
!/storage/framework/.empty
!/storage/logs/.empty
/storage/framework/sessions/*
/storage

